.app-box-shadow {
  box-shadow: 1px -1px 33px 0 rgba(0,0,0,.14);
}
.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #b5b5b5;
  color: var(--blue);
  text-align: center;
}