body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.logo {
  height: 52px;
  /* width: 199px; */
  border-radius: 52px;
}

.MuiAppBar-colorPrimary {
  color: #fff;
  background-color: #2bbbad !important;
}

.marginTop20px {
  margin-top: 20px;
}

.MuiTextField-root {
  width: 100%;
}
